* {
    border-radius: 0px !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-12 {
    width: 12% !important;
}

.w-12-5 {
    width: 12.5% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.alert-msg {
    color: #c20000;
    margin-bottom: 0px;
    font-weight: bolder !important;
}

.link {
    cursor: pointer;
}

.accordion>.card:not(:first-of-type):not(:last-of-type) {
    border: 1px solid #e3e6f0;
}

.accordion>.card:first-of-type {
    border: 1px solid #e3e6f0;
}

.bg-egros {
    background-color: #FF7F11 !important;
}

.welcome-slider img {
    min-height: 20vh;
}

.vh-50 {
    height: 50vh !important;
}

.link,
.link:hover,
.link a,
.link a:hover {
    text-decoration: none;
}

.bg-bordo {
    background-color: #b24c63 !important;
}

.proproety-add-card {
    padding: 25% 0;
    color: white;
}

.proproety-card {
    height: 10rem;
}

.text-default {
    color: #858796 !important;
}

a.text-default:hover,
a.text-default:focus {
    color: #858796 !important;
}

.monospaced {
    font-family: 'Ubuntu Mono', monospaced;
}

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}

.product-grid6,
.product-grid6 .product-image6 {
    overflow: hidden
}

.product-grid6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    transition: all .5s ease 0s
}

.product-grid6:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.product-grid6 .product-image6 a {
    display: block
}

.product-grid6 .product-image6 img {
    width: 100%;
    height: auto;
    transition: all .5s ease 0s
}

.product-grid6:hover .product-image6 img {
    transform: scale(1.1)
}

.product-grid6 .product-content {
    padding: 12px 12px 15px;
    transition: all .5s ease 0s
}

.product-grid6:hover .product-content {
    opacity: 0
}

.product-grid6 .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid6 .title a {
    color: #000
}

.product-grid6 .title a:hover {
    color: #2e86de
}

.product-grid6 .price {
    font-size: 18px;
    font-weight: 600;
    color: #2e86de
}

.product-grid6 .price span {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

.social {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}

.product-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}


.product-grid6:hover .social {
    opacity: 1;
    bottom: 10px
}

.social li {
    display: inline-block
}

.social li a {
    color: #909090;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 13px 5px;
    border: 1px solid #909090;
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.social li a:hover {
    color: #fff;
    background-color: #2e86de;
}

/* .product-grid6 .social li a:after,
.product-grid6 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #2e86de;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
} */

.social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.social li a:hover:after,
.social li a:hover:before {
    opacity: 1
}

@media only screen and (max-width:990px) {
    .product-grid6 {
        margin-bottom: 30px
    }
}

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.img-responsive {
    height: 40vh;
}


a {
    color: #1e5f8d;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #00a6eb;
}

#header {
    background: #fff;
    height: 64px;
    overflow: hiddent;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.logo {
    float: left;
}

.logo img {
    margin: 10px 0 0 10px;
    padding: 8px 10px 8px 0;
    border-right: 1px solid #eee;
    width: 180px;
}

.info {
    padding: 20px 0 0 10px;
    font-size: 16px;
    color: #555;
    float: left;
}

.info a {
    font-weight: bold;
    text-decoration: underline;
}

.info a:hover {
    text-decoration: none;
}

/* Preview Frame */
#preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    transition: all .2s;
}

#preview-frame {
    border: 0;
    position: absolute;
    transition: 0.5s;
}

.preview-desktop {
    left: 0;
    width: 100%;
    height: 100%;
}

.preview-tablet {
    width: 768px;
    height: 100%;
    left: calc(50% - 384px);
}

.preview-mobile {
    width: 360px;
    height: 680px;
    left: calc(50% - 180px);
    top: 0;
    margin-top: 20px;
}

/* Preview Devices buttons */

.preview-devices {
    display: none;
    float: left;
    padding: 10px 0 0 15px;
}

.preview-devices ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    line-height: 1.0;
}

.preview-devices li {
    float: left;
    width: 50px;
    overflow: hidden;
    text-align: center;
}

.preview-devices a {
    font-size: 18px;
    overflow: hidden;
    color: #555;
    outline: 0;
    width: 50px;
    padding: 10px 0;
    display: inline-block;
}

.preview-devices li:hover a,
.preview-devices .preview-devices-active a {
    color: #00a6eb;
}

.preview-devices-active a {
    border-bottom: 2px solid #00a6eb;
}

.preview-devices-active a {
    padding-bottom: 11px;
}

.preview-devices li:hover a,
.preview-devices li.preview-devices-active a {
    color: #00a6eb;
}

.preview-devices li:hover,
.preview-devices li:hover a {
    transition: color 0.3s ease;
}


/* Navigate Buttons */

.navigate {
    z-index: 1;
    padding: 11px 11px 0 0;
    float: right;
}

.navigate ul {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
}

.navigate ul li {
    display: inline;
}

.navigate ul li a {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 10px 10px;
    border: solid 1px #dfdfdf;
    border-radius: 4px;
    color: #828282;
    float: left;
    line-height: 1px;
    margin: 0 0 0 5px;
}

.navigate a:hover {
    border: solid 1px #00a6eb;
    color: #00a6eb;
}

.navigate ul li a.download {
    background: #00a6eb;
    border: solid 1px #00a6eb;
    color: #fff;
    font-size: 14px;
    padding: 12px 14px;
    font-family: arial, sans-serif;
}

.navigate ul li a.download i {
    font-size: 16px;
    float: left;
}

.navigate a.download:hover {
    background: #1bbcff;
}

.navigate a.download span {
    font-size: 14px;
    display: inline-block;
    line-height: 14px;
}

.navigate a.first-latest {
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
}

.social-share {
    position: fixed;
    bottom: 0;
    height: 40px;
    text-align: center;
    background: #fff;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 10px;
    width: 380px;
    left: calc(50% - 190px);
}

.social-share a {
    text-align: center;
    padding: 8px 6px;
    font-size: 14px;
    line-height: 1;
    border-radius: 20px;
    background: #fff;
    margin: 0 1px 0 1px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: inline-block;
}

.social-share a:hover {
    border: 1px solid #ccc;
}

.social-share .icon-twitter {
    color: #1DA1F3;
}

.social-share .icon-facebook {
    color: #3B5998;
}

.social-share .icon-pinterest-circled {
    color: #BD081C;
}

.social-share .icon-gplus {
    color: #DB4437;
}

.icon-cancel-circled {
    position: absolute;
    right: -1px;
    top: -1px;
    cursor: pointer;
    color: #888;
    transition: 0.3s;
}

.icon-cancel-circled:hover {
    color: red;
}

@media (max-width: 1023px) {

    .preview-devices {
        display: none;
    }
}

@media (max-width: 767px) {

    .logo,
    .info {
        display: none;
    }

    .navigate {
        float: none;
        margin: 0 auto;
        text-align: center;
        display: table;
        padding-right: 0;
        width: 100%;
    }

    .navigate ul {
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .navigate .navigate-like {
        display: none;
    }

    .navigate a.download span {
        display: none;
    }


    .navigate ul li a.download {
        font-size: 20px;
        display: block;
        float: left;
        line-height: 1px;
        margin: 0 0 0 5px;
    }

    .navigate ul li a.download i {
        font-size: 20px;
        float: none;
    }

    .navigate ul li a,
    .navigate ul li a.download {
        width: 17%;
        margin-left: 2%;
        padding: 10px 0;
    }

}


section {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg, #FF7F11 15%, #0a193b 85%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.display-5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
}

.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.display-6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1re
}


.team_columns_carousel_wrapper {
    padding: 25px;
    overflow: hidden
}

.team_columns_carousel_control_left,
.team_columns_carousel_control_right {
    top: 26px;
    z-index: 2;
    opacity: 1;
    width: 35px;
    height: 35px;
    border: 0;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.team_columns_carousel_control_icons {
    line-height: 35px;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-top: 8px;
}

.team_columns_carousel_control_left {
    left: 26px !important
}

.team_columns_carousel_control_right {
    left: 63px !important
}

.adv_left {
    left: 41px !important
}

.adv_right {
    left: 78px !important
}

.team_columns_item_image {
    padding-top: 60px;
    padding-bottom: 25px
}

.team_columns_item_image img {
    width: 100%;
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.team_columns_item_image:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%)
}

.team_columns_item_caption {
    padding: 10px;
    text-align: center;
    padding-bottom: 30px
}

.team_columns_item_caption>hr {
    width: 15%
}

.team_columns_item_caption h4 {
    font-weight: 800;
    /* text-transform: uppercase; */
    font-family: 'Open Sans', sans-serif
}

.team_columns_item_caption h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif
}

.team_columns_item_caption p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif
}

.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
    text-decoration: none;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.team_columns_item_social a,
.team_columns_item_social a:visited {
    width: 25px;
    float: left;
    height: 25px;
    display: block;
    line-height: 25px;
    margin-right: 2px;
    text-decoration: none;
    -webkit-transition: background ease-in-out .3s;
    transition: background ease-in-out .3s
}

@media(min-width:768px) and (max-width:789px) {

    .adv_team_columns_item_social a,
    .adv_team_columns_item_social a:visited {
        margin-right: 0
    }
}

.team_columns_carousel_wrapper {
    background: #fff
}

.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
    color: #fff;
    background: #feb600 !important
}

.team_columns_item_caption {
    color: #fff;
    background: #171717
}

.team_columns_item_caption>hr {
    border-top: 2px solid #343a40
}

.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
    color: #feb600
}

.team_columns_item_caption p a:hover,
.team_columns_item_caption p a:active {
    color: #cb9200
}

.team_columns_item_social a,
.team_columns_item_social a:visited {
    color: #171717;
    background: #feb600
}

.team_columns_item_social a:hover,
.team_columns_item_social a:active {
    background: #cb9200
}

.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
    display: none
}

@media all and (min-width: 768px) {

    .four_shows_one_move .carousel-inner>.active.left,
    .four_shows_one_move .carousel-inner>.prev {
        left: -50%
    }

    .four_shows_one_move .carousel-inner>.active.right,
    .four_shows_one_move .carousel-inner>.next {
        left: 50%
    }

    .four_shows_one_move .carousel-inner>.left,
    .four_shows_one_move .carousel-inner>.prev.right,
    .four_shows_one_move .carousel-inner>.active {
        left: 0
    }

    .four_shows_one_move .carousel-inner .cloneditem-1 {
        display: block
    }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

    .four_shows_one_move .carousel-inner>.item.active.right,
    .four_shows_one_move .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner>.item.active.left,
    .four_shows_one_move .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner>.item.left,
    .four_shows_one_move .carousel-inner>.item.prev.right,
    .four_shows_one_move .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}

@media all and (min-width: 992px) {

    .four_shows_one_move .carousel-inner>.active.left,
    .four_shows_one_move .carousel-inner>.prev {
        left: -25%
    }

    .four_shows_one_move .carousel-inner>.active.right,
    .four_shows_one_move .carousel-inner>.next {
        left: 25%
    }

    .four_shows_one_move .carousel-inner>.left,
    .four_shows_one_move .carousel-inner>.prev.right,
    .four_shows_one_move .carousel-inner>.active {
        left: 0
    }

    .four_shows_one_move .carousel-inner .cloneditem-2,
    .four_shows_one_move .carousel-inner .cloneditem-3 {
        display: block
    }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

    .four_shows_one_move .carousel-inner>.item.active.right,
    .four_shows_one_move .carousel-inner>.item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner>.item.active.left,
    .four_shows_one_move .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner>.item.left,
    .four_shows_one_move .carousel-inner>.item.prev.right,
    .four_shows_one_move .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}


.category-img {
    max-height: 18rem !important;
    width: 100%;
}

.table-content table th,
.table-content table td {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.table-content table th {
    border-top: medium none;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 10px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
}

.table-content table {
    background: #ffffff none repeat scroll 0 0;
    border-color: #ebebeb;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

thead {
    background-color: #f6f6f6;
}

.table-content table td.plantmore-product-remove {
    font-size: 20px;
}

.table-content table th,
.table-content table td {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.table-content table td {
    border-top: medium none;
    font-size: 13px;
    padding: 20px 10px;
    vertical-align: middle;
}

.table-content table {
    text-align: center;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #333;
}

hr.new4 {
    border: 1px solid gray;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") !important;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #3490dc !important;
  background-color: #3490dc !important;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e") !important;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(52, 144, 220, 0.5) !important;
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(52, 144, 220, 0.5) !important;
}